body{
    width: 100%;
    height: 100%;
    background-color: black;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

.flex-group{
    display: flex;
    gap: 2rem;

}
main{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    gap: 3rem;
}
.move-button{    
    background-color: transparent;
    border:8px solid white;
    width: 200px;
    height: 200px;
    border-radius: 50%;
}
.move-button:hover{
    background-color: white;
    cursor: pointer;
}

img{
    max-width: 80%;
}

.moves{
    margin-top: -2rem;
    font-size: 1.5rem;
}
.moves img{
    width: 70px;
}

button{
    font-size: 1.25rem;
    background-color: orange;
    border: none;
    border-radius: 1.5rem;
    padding: 10px 50px;
}
button:hover{
    cursor: pointer;
    background-color: white;


}